.container {
  display: flex;
}

.settings {
  padding: 25px;
}

.bodybox {
  background-color: #fff;
  height: 80vh;
  margin: auto;
  padding: 25px;
  width: 40vw;
}

.chatborder {
  background-color: #f6f9f6;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 5px 5px 5px #808080;
  height: 100%;
  margin: 20px;
  overflow: scroll;
  padding: 10px 15px;
  width: 100%;
}
